.div-background {
    background-color: #312614;
    color: white;
    padding: 1em;
} 

p {
    margin-top: 0;
}

.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 75%;
}

/* CONTAINER */

.container img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 980px;
    /* BELOW centers content on the page */
    margin: 0 auto; 
    font-weight: bold;
    color: #707070;
}

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

.heading-span {
    color: #BF832F;
    font-family: 'Courier New', Courier, monospace;
}

/* COLUMN ONE */

.column-one {
    display: flex;
    margin: 1em 0;
}

/* COLUMN TWO */

.column-two {
    display: flex;
    margin: 1em 0;
}
