.div-background {
    background-color: #312614;
    color: white;
    padding: 1em;
} 

p {
    margin-top: 0;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

@media (max-width: 600px) {
    .col-1, 
    .col-2,
    .col-3 {
        width: 100%
    }
}

/* CONTAINER */

.container img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 90%;
    max-width: 980px;
    /* BELOW centers content on the page */
    margin: 0 auto; 
    font-weight: bold;
    color: #707070;
}

h1 {
    font-size: 3rem;
    color: #212614;
    text-align: center;
}

.heading-span {
    color: #BF832F;
    font-family: 'Courier New', Courier, monospace;
}

/* COLUMN ONE */

.column-one {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

/* COLUMN TWO */

.column-two {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

/* media always comes after the default selector
inm my case, media will come after column 1 and 2
since we are applying that properties first */

@media (max-width: 600px) {
    .column-one {
        flex-direction: column;
        width: 100%;
    }

    .column-two {
        flex-direction: column;
        width: 100%;
    }
}

/* media */

/* from a minimum width of 500px and bigger */
/* smallest to biggest */
/* e.g.,
@media (min-width: 500px) {
    body {
        background-color: white;
    }
} */

/* from a minimum width of 750px and bigger */
/* @media (min-width: 750px) {
    body {
        background-color: wheat;
    }
} */

