body {
    margin: 0px;
    width: 720px;
}

.p-text{
    margin: 0;
    color: #ef5839;
    font-family:'Courier New', Courier, monospace;
}

.p-text:hover {
    color: sandybrown;
}

/* end */

.section-one {
    background-color: #2e354f;
    padding-bottom: 150px;
    position: relative;
    vertical-align: middle;
}

.main-heading {
    font-size: 54px;
}


/* section two */

.section-two {
    background-color: #fff;
    padding-bottom: 400;
}

.p-text {
    margin: 0;
    color: #ef5839;
    font-family:'Courier New', Courier, monospace;
}

.section-two p {
    margin-left: 50px;
    width:620px;
    word-wrap: break-word;
}

.section-two span {
    font-weight: bold;
}

.heading {
    margin-left: 50px;
    color: #ef5839;
    padding-top: 20px;
}

img {
    width: 620px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
}

/* section theee */

.section-three {
    background-color: #2e354f;
    padding-bottom: 80px;
}

.section-three p, a {
    margin-left: 50px;
}

.section-three p {
    color: white;
    width:620px;
    word-wrap: break-word;
}

.btn-one {
    display: inline-block;
    background-color: #ef5839;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: #fff;
}

.btn-two {
    display: inline-block;
    background-color: #fff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: black;
    margin: 0;
}
