body {
    margin: 0px;
    width: 720px;
}

.section-one {
    background-color: #2e354f;
    padding-bottom: 200px;
}

.section-two {
    background-color: #fff;
    padding-bottom: 400;
}

.section-two h2 {
    margin-left: 50px;
    color: #ef5839;

}

img {
    width: 620px;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.section-three {
    background-color: #2e354f;
    padding-bottom: 300px;
}